# .env.example

OPENAI_API_KEY=For security reasons, Git does not allow sharing API keys
OPENAI_BASE_URL=https://api.groq.com/openai/v1
OPENAI_MODEL=mixtral-8x7b-32768
NEXT_PUBLIC_APP_URL=http://localhost:3000
